*{
    margin: 20;
    padding: 0;
    box-sizing: border-box;
    
}

p{
    margin: 3px;
    font-family: inherit;
    font-size: 17px;
    
}
.header{
    width: 100%;
    
}
nav{
    display: flex;
    padding: 2%
    justify-content: space-betwee;
    align-items: center;
}
nav img{
    width: 170px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: armenian;
    display: inline-block;
    padding: 10px 32px;
    position: relative;
}
.nav-links ul li a{
    color: #08c030;
    text-decoration: none;
    font-size: 20px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #fff;
     display: block;
    margin: auto;
    transition: 0.3s;
}
.nav-links ul li:hover::after{
    width: 100%;
}


img {
    border-radius: 6px;
    margin: 1.3em auto;

}
body {
    line-height: 1.5;
    background: #847171;;
}
   
.container-1 {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: hsl(0, 84%, 55%);
    padding: 30px;
}
    
    
.card-details  {
    background: #fff;
    position: relative;
    max-width: 900px;
    width: 100%;
    border-radius: 6px;
    padding: 30px;
    margin: 0 15px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}  
      
.container-header{
    font-size: 20px;
    font font-weight: 600;
    color: #333;
    
}

.additional-comments-box{
    width: 520px;
    height: 60px;
    text-align: center;
        
}



.card-box {
    width: calc(100% / 3 -15px);
    flex-direction: column;
}



.input-field {
    padding: 5px
}

.buttons {
    display: flex;
    padding-left: 7px;
    padding-right: 30px;
    
    
}


.submit-button{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    max-width: 200px;
    width: 100%;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 5px;
    margin: 25px 0;
    background-color:#0f1210; 
    transition: all 0.3s linear;
    cursor: pointer;
    margin-right: 80px;
}

.submit-button:hover{
    background-color:  #f1f440;
}

.clear-button{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    max-width: 200px;
    width: 100%;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 5px;
    margin: 25px 0;
    background-color: #0f1210;
    transition: all 0.3s linear;
    cursor: pointer;
    margin-left: 130px;
}
.clear-button:hover{
    background-color: #f1f440;
}











/*----------Footer------------*/
footer{
    background: #111;
    height: auto;
    width: 100vw;
    font-family: "Open Sans";
    padding-top: 10px;
    color: #fff;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #fff;
}
.socials a i{
    font-size: 1.1rem;
    transition: color .4s ease;
}
.socials a:hover i{
    color: aqua;
}
.footer-bottom{
    background: #000;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}

















